# ==========================
# SQL SERVER DOCKER
# ==========================

MSSQL_SA_PASSWORD=CAMBIAR_PASSWORD
MSSQL_PID=Developer
MSSQL_PORT=1433


# ==========================
# MCP SQL SERVER - CLAUDE
# ==========================

MSSQL_HOST=localhost
MSSQL_DATABASE=DemoAutomatizacionIA
MSSQL_USER=mcp_demo_user
MSSQL_PASSWORD=CAMBIAR_PASSWORD
MSSQL_DRIVER=ODBC Driver 18 for SQL Server

MCP_SQL_SCHEMA=demo_ai
MCP_SQL_MAX_ROWS=500


# ==========================
# PIPELINE PYTHON ETL
# ==========================

PIPELINE_SQL_HOST=localhost
PIPELINE_SQL_PORT=1433
PIPELINE_SQL_DATABASE=DemoAutomatizacionIA
PIPELINE_SQL_USER=pipeline_demo_user
PIPELINE_SQL_PASSWORD=CAMBIAR_PASSWORD
PIPELINE_SQL_DRIVER=ODBC Driver 18 for SQL Server

PIPELINE_NAME=DEMO_ETL_CLIENTES
PIPELINE_INPUT_DIR=data/input
PIPELINE_INPUT_PATTERN=clientes_*.csv
PIPELINE_PROCESSING_MODE=latest

APP_TIMEZONE=America/Lima